# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

FinalProjectinstructions.pdf
FinalProject1_CSymington.docx
FinalProject2-SiteMap_Csymington.docx
FinalProject2-wireframe_Csymington.docx
FinalProjectTopic_CSymington.docx